
.post-grid {
     margin-top: 12px !important;
}

.post-grid .post-card .MuiCardHeader-title {
     margin: 0px;
     font-weight: 600;
     font-size: 0.900rem;
     line-height: 1.2rem;
     font-family: "Plus Jakarta Sans", sans-serif;
}


.post-grid .post-card .trade-name {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     width: 235px;
}