.expenses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenses .action-btn {
    display: flex;
    gap: 15px;
}

.list-content .list-item::before {
    background-color: transparent;
}

.list-content .list-item.Mui-expanded {
  margin: 0px;
}