.expenses-grid .list-content {
  border-top: 1px solid rgba(224, 224, 224, 1);
  background-color: rgb(255, 255, 255);
  color: rgb(42, 53, 71);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  border: 1px solid rgb(229, 234, 239);
  background-image: none;
  margin-top: 15px;
  box-shadow: none !important;
}

.expenses-grid .list-content .expenses-list {
  padding: 10px 5px;
  align-items: center;
  border-bottom: 1px solid rgb(229, 234, 239);
  cursor: pointer;
}

.expenses-grid .list-content .expenses-list .expense-amount {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

.expenses-grid .list-content .expenses-list .expense-title {
  margin: 0px;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}

.expenses-grid .list-content .expenses-list .expense-date {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.57;
  color: rgb(42, 53, 71);
}

.expenses_loader {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ex-description-icon {
  width: 300px !important;
  height: 300px !important;
}


/******************** Add expenses *********************/

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 13px !important;
  height: 47px;
} 

.site-options .MuiSelect-select .selected-item .MuiListItemText-primary {
   font-size: 14px;
}

.site-options .MuiSelect-select .selected-item .MuiListItemText-secondary {
   font-size: 13px;
}

/******************** View expenses *********************/

.expenses-view .expenses-img {
  height: 160px;
  width: 160px !important;
  cursor: pointer;
  border-radius: 12.25px;
  margin-top: 1rem;
}

.expenses-view .view-expense-key {
  margin: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.57;
  color: rgb(42, 53, 71);
}

.expenses-view .view-expense-value {
    margin: 0px;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.expenses-view .exaction-btn {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}



